* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #dedede;
  font-family: 'Lato', sans-serif; }

#root {
  display: flex; }

.input-container {
  display: flex;
  align-items: center; }
  .input-container input {
    background: #ffffff;
    border: none;
    height: 100%;
    outline: 0;
    padding: 0.65em;
    font-weight: 500;
    font-size: 0.8em;
    color: #363636; }
    .input-container input::placeholder {
      color: #c7c7c7; }
