@import 'global.scss';

.input-container {
  display: flex;
  align-items: center;
  input {
    background: $color_white;
    border: none;
    height: 100%;
    outline: 0;
    padding: 0.65em;
    font-weight: 500;
    font-size: 0.8em;
    color: $color_black;
    &::placeholder {
      color: $color_grey_dark;
    }
  }
}
