* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #dedede;
  font-family: 'Lato', sans-serif; }

#root {
  display: flex; }

.letter-divider {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  width: 3rem;
  padding: 0.25rem 1rem;
  margin: 2.5rem 0 1rem 0; }
  .letter-divider:first-child {
    margin-top: 0; }
