// Fonts
$font_default_size: 16px;

// Colors
$color_white: #ffffff;
$color_black: #363636;
$color_grey: #e8e8e8;
$color_grey_dark: #c7c7c7;
$color_grey_darker: #717171;
$color_primary: #ed5153;
$color_secondary: #37455b;
$color_secondary_ligth: #6f819b;
$color_bg: #dedede;

// Transition
$transition_cubic_bezier: cubic-bezier(0,0,0.3,1);

// Card
$card_width: 250px;
$card_header_padding: 0.75em 0.55em;
$card_initials_width: 38px;
$card_image_height: 175px;
$card_footer_padding: 0.85em;
$card_shadow: 0 4px 16px 0 rgba(0,0,0,.25);
$card_space_between: 1.25em;
$card_avatar_heigth: 88px;

// Panel
$panel_width: 300px;

// Global style
* {
  box-sizing: border-box;
}

html, body {
  font-size: $font_default_size;
  margin: 0;
  padding: 0;
  background: $color_bg;
  font-family: 'Lato', sans-serif;
}

#root {
  display: flex;
} 
