* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #dedede;
  font-family: 'Lato', sans-serif; }

#root {
  display: flex; }

.directory {
  padding: 1em;
  flex: 1;
  transition: padding 0.5s cubic-bezier(0, 0, 0.3, 1); }
  .directory.directory--panel-open {
    padding-right: 316px; }
    .directory.directory--panel-open .add-contact__bt {
      right: 300px; }
  .directory .contacts--empty {
    color: #717171; }
  .directory header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em; }
    .directory header .filters-container {
      display: flex; }
      .directory header .filters-container .filters-name {
        font-size: 0.75em;
        font-weight: 600;
        margin-right: 1em;
        text-transform: uppercase;
        color: #717171; }
      .directory header .filters-container .filters-order__btn {
        background: #c7c7c7;
        color: #717171;
        border: none;
        font-weight: 600;
        font-size: 0.75em;
        padding: 0.75em 1.25em;
        outline: 0;
        margin-right: 0.5em;
        letter-spacing: 1px;
        transition: color 0.25s ease-in-out, background 0.25s ease-in-out; }
        .directory header .filters-container .filters-order__btn:hover {
          background: #ffffff;
          color: #363636;
          cursor: pointer; }
        .directory header .filters-container .filters-order__btn.filters-order__btn--active {
          background: #ffffff;
          color: #363636; }
  .directory .card-types-switch-container button {
    border: none;
    background: transparent;
    color: #c7c7c7;
    transition: color 0.25s ease-in-out;
    outline: 0; }
    .directory .card-types-switch-container button:hover {
      cursor: pointer;
      color: #717171; }
    .directory .card-types-switch-container button.active {
      color: #717171; }
  .directory .contacts-container .contacts-container__card {
    float: left; }
  .directory .add-contact__bt {
    background: #ed5153;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 1.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    outline: 0;
    margin-right: 2.5em;
    margin-bottom: 2.5em;
    transition: box-shadow 0.25s ease-in-out, right 0.5s cubic-bezier(0, 0, 0.3, 1); }
    .directory .add-contact__bt:hover {
      cursor: pointer;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25); }

.sidepanel {
  background: #c7c7c7;
  width: 300px;
  transform: translate(300px);
  position: fixed;
  right: 0;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1); }
  .sidepanel.sidepanel--open {
    transform: translate(0); }
